---
import Icon from 'astro-icon'

export interface Props {
  name: string;
  classList?: string;
}

let { name, classList = "" } = Astro.props as Props;
---
<span class={"svg-brand-icon " + name + classList}>
  <Icon name={name} />
</span>