---
import BrandIcon from './BrandIcon.astro';

export interface Props {
  tippyContent: string;
  href: string;
  icon: string;
}

let { tippyContent, href, icon } = Astro.props as Props;
---
<li>
  <a data-blobity-tooltip={tippyContent} href={href}>
    <BrandIcon name={icon} />
  </a>
</li>
