---
import socials from './socials.ts';
import Link from './Link.astro';
---
<style slot="style" lang="scss">
#socials {
  width: 90%;
  height: 90%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 100%;
    height: 100%;

    > li {
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: center;
      align-items: center;
      width: 45%;

      > :global(span) {
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    .icons {
      text-align: center;
      // filter: url("#goo");+

      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>

<style global>
.linkedin > svg {
  background: #0085ae;
}
.twitter > svg {
  background: #32ccfe;
}
.reddit > svg {
  background: #f74300;
}
.instagram > svg {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.github > svg {
  background: #070709;
}
.stack-overflow > svg {
  background: #ff7300;
}
.steam > svg {
  background: linear-gradient(120deg, #00adee, #000000);
}
.discord > svg {
  background: #8697f6;
}
.battle-net > svg {
  background: #2e60b4;
}
.anime > svg {
  background: #0085ae;
}
.soundcloud > svg {
  background: #f75219;
}
.spotify > svg {
  background: #1ed760;
}
</style>
<div id="socials">
  <ul>
    {socials.map(([group, links]) => {
      return (
        <li class="section">
          <span>{group}</span>
          <ul class="icons">
            {links.map(social => (
              <Link
                tippyContent={social.name}
                href={social.href}
                icon={social.icon}
              />
            ))}
          </ul>
        </li>
      )
    })}
  </ul>
</div>