---
// Component Imports
import Counter from '../components/Counter.vue';
import BaseLayout from '../layouts/BaseLayout.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout>
  <Counter client:visible>
    <h1>Hello Vue!</h1>
  </Counter>
</BaseLayout>
