---
import GhostButton from "../Common/GhostButton.astro";
---
<div id="contact">
  <div class="banner">
    <h1>MAKE CONTACT</h1>
    <h4>Send me a message, regarding anything!</h4>
  </div>
  <div class="formBox">
    <form id="contactForm">
      <div class="row">
        <div class="name" id="name">
            <label for="name">Name</label><br>
            <input type="text" name="name"required placeholder="Your Name" >
        </div>
        <div class="email" id="email">
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="Email address" pattern="^\S+@\S+$">
        </div>
      </div>
      <div class="row subject" id="subject">
        <label for="subject">Subject</label><br>
        <input type="text" name="subject" placeholder="Choose Subject">
      </div>
      <div class="row message" id="message" >
        <label for="message">Message</label><br>
        <textarea name="message" placeholder="Start typing here" required></textarea>
      </div>
      <div class="row" id="noSpamDiv">
        <input type="checkbox" name="confidence" id="noSpam" required>
        <label for="noSpam">I solemnly swear I am not a troll..</label>
      </div>
      <div class="row submit">
        <GhostButton frameless type="submit">
          Submit
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" xml:space="preserve" fill="aliceblue" stroke="aliceblue">
            <g><g transform="matrix(1 0 0 -1 0 1008)"><path d="M756.2,741.8L990,508L756.2,274.2l-27,27L918.1,490H10v36h908.1L729.3,714.8L756.2,741.8z"/></g></g>
          </svg>
        </GhostButton>
      </div>
    </form>
    <div id="complete" class="final-message">
      <div class="final-message">
        <h1>Thanks!</h1>
        <h4>I will try to get back as soon as possible!</h4>
      </div>
    </div>
  </div>
</div>