---
import Icon from '../Common/Icon.astro';
---
<style lang="scss">
.top {
  padding: 2rem;
  position: absolute;
  top: 1.2rem;
  width: 100%;
  height: 4em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  >.logo {
    width: 3.2rem;
    height: 3.2rem;
  }

  .right {
    padding-right: 3.2rem;
    width: auto;
    display: inline-grid;
    grid-template-columns: 2.4rem 2.4rem 3rem;
    place-items: center;
    font-size: 1.4rem;
    gap: 0.6em;
  }
}

:global(.off),
:global(.on) {
  display: inherit;
  > :global(svg) {
    height: 1.2em;
    width: 1.2em;
  }
}

:global(.inherit) {
  display: inherit;
}

.toggle {
  &-on > :global(.off) {
    display: none;
  }
  &-off > :global(.on) {
    display: none;
  }
}

.navbar {
  width: 100vw;
  height: 0vh;
  z-index: 30;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #000000aa;
  position: absolute;
  top: 0;
  left: 0;

  nav {
    padding: 8em;
  }

  ul {
    list-style-type: none;
    font-size: 4.2em;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 1.2em;

    > li {
      color: transparent;
      transform: translateX(-100px);
      opacity: 0;

      &:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0%;
        height: 100%;
        transition: 1s ease-in-out;
        color: #fff;

        &:hover {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 736px) {
  .navbar {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
/* ====================================
Burger king
==================================== */
.burger {
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;

  span {
    display: block;
    height: 1px;
    background-color: #fff;
    cursor: pointer;
    margin: calc(3rem / 8) auto;

    &.animate-top-bar {
      -webkit-animation: animate-top-bar 0.6s linear 1 both;
      animation: animate-top-bar 0.6s linear 1 both;
    }

    &.animate-bottom-bar {
      -webkit-animation: animate-bottom-bar 0.6s linear 1 both;
      animation: animate-bottom-bar 0.6s linear 1 both;
    }

    &.animate-middle-bar {
      -webkit-animation: animate-middle-bar 0.6s linear 1 both;
      animation: animate-middle-bar 0.6s linear 1 both;
    }

    &.animate-out-top-bar {
      -webkit-animation: animate-out-top-bar 0.6s linear 1 both;
      animation: animate-out-top-bar 0.6s linear 1 both;
    }

    &.animate-out-bottom-bar {
      -webkit-animation: animate-out-bottom-bar 0.6s linear 1 both;
      animation: animate-out-bottom-bar 0.6s linear 1 both;
    }

    &.animate-out-middle-bar {
      -webkit-animation: animate-out-middle-bar 0.6s linear 1 both;
      animation: animate-out-middle-bar 0.6s linear 1 both;
    }
  }
}

/* ====================================
Animation keyframes
==================================== */
@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363b;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363b;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363b;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363b;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363b;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #fff;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363b;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363b;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #fff;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363b;
  }
  80% {
    background-color: #29363b;
  }
  100% {
    background-color: #fff;
  }
}
</style>

<div class="navbar">
	<nav role="navigation">
		<ul>
			<li><a href="/" data-text="Home">Home</a></li>
			<li><a href="/about" data-text="About">About</a></li>
			<li><a href="/projects" data-text="Projects">Projects</a></li>
			<li><a href="/contact" data-text="Contact">Contact</a></li>
			<li><a href="/socials" data-text="Socials">Socials</a></li>
		</ul>
	</nav>
</div>
<div class="top">
	<a href="/" class="logo" main-tooltip data-tippy-content="Rishikesh 'Blaine' Anand"><img src="/assets/logo.svg" width="100%" height="100%" alt="Logo"/></a>
	<div class="right">
		<a type="button" id='toggleScene' class="toggle-off inherit" main-tooltip data-tippy-content="Hide HUD<br />(Allows interaction with content)">
      <Icon name="toggle-off" classList="off" />
      <Icon name="toggle-on" classList="on" />
    </a>
		<a class="inherit" href="https://github.com/Blakeinstein" main-tooltip data-tippy-content="Github Profile<pre>                       </pre>@Blakeinstein"><Icon name="github" /></a>
		<div class="burger">
			<span class="bar-top"></span>
			<span class="bar-middle"></span>
			<span class="bar-bottom"></span>
		</div>
	</div>
</div>
<script defer type="module" src={Astro.resolve('./navbar.js')}></script>