---
---
<style lang="scss">
.navbar {
  width: 100vw;
  height: 0vh;
  z-index: 30;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #000000aa;
  position: absolute;
  top: 0;
  left: 0;

  nav {
    padding: 8em;
  }

  ul {
    list-style-type: none;
    font-size: 5em;
    font-weight: 600;

    > li {
      color: transparent;
      transform: translateX(-100px);
      opacity: 0;
      -webkit-text-stroke: 3px #fff;

      &:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0%;
        height: 100%;
        transition: 1s ease-in-out;
        color: #fff;

        &:hover {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 736px) {
  .navbar {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
/* ====================================
Burger king
==================================== */
.burger {
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;

  span {
    display: block;
    height: 1px;
    background-color: #fff;
    cursor: pointer;
    margin: calc(3rem / 8) auto;

    &.animate-top-bar {
      -webkit-animation: animate-top-bar 0.6s linear 1 both;
      animation: animate-top-bar 0.6s linear 1 both;
    }

    &.animate-bottom-bar {
      -webkit-animation: animate-bottom-bar 0.6s linear 1 both;
      animation: animate-bottom-bar 0.6s linear 1 both;
    }

    &.animate-middle-bar {
      -webkit-animation: animate-middle-bar 0.6s linear 1 both;
      animation: animate-middle-bar 0.6s linear 1 both;
    }

    &.animate-out-top-bar {
      -webkit-animation: animate-out-top-bar 0.6s linear 1 both;
      animation: animate-out-top-bar 0.6s linear 1 both;
    }

    &.animate-out-bottom-bar {
      -webkit-animation: animate-out-bottom-bar 0.6s linear 1 both;
      animation: animate-out-bottom-bar 0.6s linear 1 both;
    }

    &.animate-out-middle-bar {
      -webkit-animation: animate-out-middle-bar 0.6s linear 1 both;
      animation: animate-out-middle-bar 0.6s linear 1 both;
    }
  }
}

/* ====================================
Animation keyframes
==================================== */
@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363b;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363b;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363b;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363b;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363b;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #fff;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363b;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363b;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #fff;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363b;
  }
  80% {
    background-color: #29363b;
  }
  100% {
    background-color: #fff;
  }
}
</style>

<div class="navbar">
    <nav role="navigation">
        <ul>
            <li><a href="/" data-text="Home" data-navigo>Home</a></li>
            <li><a href="/about" data-text="About" data-navigo>About</a></li>
            <li><a href="/projects" data-text="Projects" data-navigo>Projects</a></li>
            <li><a href="/contact" data-text="Contact" data-navigo>Contact</a></li>
            <li><a href="/socials" data-text="Socials" data-navigo>Socials</a></li>
        </ul>
    </nav>
</div>
<div class="top">
    <a href="/" class="logo" main-tooltip data-tippy-content="Rishikesh 'Blaine' Anand" data-navigo><img src="./assets/logo.svg" width="100%" height="100%" alt="Logo"/></a>
    <div class="right">
        <i id='toggleScene' class="fas fa-toggle-off" main-tooltip data-tippy-content="Hide HUD<br />(Allows interaction with content)"></i>
        <a href="https://github.com/Blakeinstein" class="fab fa-github-alt" main-tooltip data-tippy-content="Github Profile<pre>                       </pre>@Blakeinstein"></a>
        <div class="burger">
            <span class="bar-top"></span>
            <span class="bar-middle"></span>
            <span class="bar-bottom"></span>
        </div>
    </div>
</div>