#about{
    width: 90%;
    display: flex;
    flex-flow: row;
    align-items: center;

    .about-content{
        line-height: auto;
        display: flex;
        justify-content: center;
        flex-flow: column;
        overflow-y: scroll;
        text-shadow: 0 0 20px #111;

        >h1{
            font-size: 4em;
            text-transform: uppercase;
            font-weight: 700;
            font-style: italic;
            line-height: normal;;
        }

        >h3{
            font-size: 1em;
            font-weight: 400;
        }

        >h4{
           font-weight: bold;
           font-style: italic;
           font-size: 1em; 
        }
    }

    >img {
        width: 150em;
        height: auto;
    }
}