@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,700&display=swap');

@import 'components/ghostbutton';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/* -------------------------------------------------------------------------------- */

*, :after, :before {
    color: white;
    box-sizing: border-box;
    user-select: none;
}

body{
    margin: 0;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    >svg {
        display: none;
    }
}

/* -------Loading Container----------- */
#loading-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 50;
    background-color: #111;
    text-align: center;
    color: #ffffff;
    font-family: 'Fira Mono', monospace;
    letter-spacing: .1em;
    visibility: visible;
    opacity: 1;

    #loading-logo {
        position: absolute;
        height: 40vh;
        width: 40vh;
        top: 10vw;
        left: calc(50vw - 20vh);

        >img {
            height: 100%;
            width: 100%;
        }
    }

    #loading-bar {
        stroke: slateblue;
        position: absolute;
        top: 65%;
        left: 50%;
        height: 80px;
        width: 80px;
        transform: translateX(-50%);
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
        transition: all 2.4s 1.2s ease-in-out;

        >#loading-logo {
            transition: all 1s ease-out;
        }

        >#loading-bar {
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease-out;
        }
    }
}

/* -------Hero Background----------- */
#hero-background{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -1;
    transition: z-index 0.5s ease;
    overflow: hidden;
}

#content {
    height: 100vh;
    width: 100vw;
    padding: 2em 0;
    display: flex;
    flex: 0 0;
    flex-flow: column;
    line-height: 2em;
    overflow-x: hidden;

    > *:not(.top),
    > .top > *:not(.search),
    > .top > .search > *:not(#toggleScene){
        transition: all 0.5s ease;
        opacity: 1;
    }

    &.hide > *:not(.top),
    &.hide > .top > *:not(.search),
    &.hide > .top > .search > *:not(#toggleScene){
        opacity: 0 !important;
    }

    .top {
        display: flex;
        flex: 0 0;
        flex-flow: row;
        padding: 0 2em;
        height: 2em;
        align-items: center;

    
        >.logo {
            display: inline-block;
            width: 2.5em;
        }

        >.search {
            height: 2em;
            
            >#toggleScene {
                position: relative;
                z-index: 2;
                visibility: visible !important;
                opacity: 1 !important;
            }
        }

        hr{
            margin: auto 2em;
            border-radius: 50px;
            color: white;
            background: white;
            flex-grow: 4;
        }
    }

    #main{
        flex-grow: 4;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0;
        
        .no-scroll {
            overflow: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }
        }

        .hide {
            opacity: 0;
            visibility: hidden;
            transform: translateY(20px);
            transition: all 2s ease-in-out;
        }
        
        @import "./about";
        @import "./contact";
        @import "./projects";
        @import "./socials";
        @import "./home";
    }

    .navbar {
        display: flex;
        flex: 0 0;
        flex-flow: row;
        padding: 0 2em;
        height: 2em;
        align-items: center;

        .menu-right, .menu-left {
            flex-grow: 2;
        }

        ul{
            display: flex;
            flex-flow: row;
            align-items: stretch;
            justify-content: space-evenly;
            width: 100%;
            margin: 0 auto;
            padding: 0;

            > li {
                display: block;
                flex: 0 1 auto;
            }
        }

        .music {
            position: relative;
            display: inline-block;
            width: 2.5em;

            > #enigma {
                display: inline-block;
                position: absolute;
                min-width: 200px;
                bottom: 3.8em;
                left: -5em;
                z-index: 1;
    
                height: 200px;
                background-color: rgba(50, 50, 50, 0.4);
                border: 2px solid white;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 2px 2px 4px #888;
                -moz-box-shadow: 2px 2px 4px #888;
                box-shadow: 2px 2px 4px #888;
                text-align: center;
                padding: 1em;
                font-weight: 400;
                font-size: 1em;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 87px;
                    top: 200px;
                    border: 10px solid;
                    border-color: #fff transparent transparent transparent;
                }
        
                &:after {
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 89px;
                    top: 200px;
                    border: 8px solid;
                    border-color: rgba(50, 50, 50, 0.4) transparent transparent transparent;
                }
            }
    
            > div{
                visibility: hidden;
                opacity: 0;
                transition: all 0.5s ease;
                display: none;
                clear: both;
                width: 100%;
            }
    
            &:hover{
                > div {
                    visibility: visible;
                    opacity: 1;
                    display: block;
                }
            }
    
        }

        >.arrow-left, >.arrow-right {
            height: 2em;
            width: 2em;
        }
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tippy-box[data-theme~='space'] {
    background-color: rgba(50, 50, 50, 0.1);
    color: white;
}

.tippy-box[data-theme~='emotion'] {
    background: linear-gradient(130deg, #373b44, #4286f4);
    box-shadow: 2px 2px 10px 5px rgba(37, 112, 173, 0.5);
    font-weight: bold;
}

/* -------Responsive----------- */
@media only screen and (max-device-width: 736px){
    html {
        font-size: 10px;
    }
    .navbar ul{
        width: 90%;
    }
}