---
export interface Props {
  frameless?: boolean;
  href?: string;
	type?: string;
}

const { frameless, href, type } = Astro.props as Props;
let classes = 'ghostButton'
if (frameless) {
	classes += ' frameless'
}
---
<a class={classes} href={href} type={type}>
  <slot />
</a>