---
export interface Props {
  name: string;
  classList?: string;
}

let { name, classList = "" } = Astro.props as Props;

//get svg from the CDN
let url = `https://cdn.jsdelivr.net/gh/twbs/icons/icons/${name}.svg`
let svg = await fetch(url).then(x => x.text())
// let classList = "svg-icon " + dataClass;

---
<style global>
.svg-icon {
    display: inline-flex;
    align-self: center;
}
.svg-icon svg {
    height:1em;
    width:1em;
}
</style>
<span class={"svg-icon " + classList}>
  {svg}
</span>