---
import SEO from '../components/SEO.astro';
import Scene from '../components/Scene.astro';
import Navbar from '../components/Navbar.astro';
---
<html lang="en">
  <BaseHead>
    <SEO
      slot="SEO"
      title="Blaine - An enthusiast developer"
      description="Hi, I'm Rishikesh Anand! A developer, software engineer and a tech enthusiast. I love to try new things, explore possibilites and anything that amuses my curiosity. I am currently pursuing a degree in Computer Science and Engineering at, National Institute of Technology, Delhi."
    />
  </BaseHead>
  </BaseHead>
  <body>
    <Scene />
    <Navbar />
    <div id="c">
  </body>
</html>
  </BaseHead>
  <body>
    <Scene />
    <Navbar />
    <div id="content">
      <main id="swup-main" class="wrapper">
        <slot />
      </main>
  </BaseHead>
  <body>
    <Scene />
    <Navbar />
    <div id="content">
      <main id="swup-main" class="wrapper">
        <slot />
      </main>
    </div>
  </body>
</html>